@charset "UTF-8";
:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --main-color: #FFFFFF;
  --main-background-color: #E5E5E5;
  --secondary-background-color: #F5F4FA;
  --accent-color: #2196F3;
  --links-color: rgba(255, 255, 255, 0.6);
  --footer-color: #2F303A;
  --icons-color: rgba(175, 177, 184, 1);
  --overlay-background: rgba(33, 150, 243, 0.9);
  --overlay-text: rgba(255, 255, 255, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.nav__link--current::before {
  content: "";
  position: absolute;
  background: var(--accent-color);
  border-radius: 2px;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
}

body {
  background-color: var(--main-color);
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

address {
  font-style: normal;
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

button {
  cursor: pointer;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  color: #212121;
  border: none;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials__item {
  width: 44px;
  height: 44px;
}
.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:not(:last-child) {
  margin-right: 10px;
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
}

.socials__icon {
  fill: var(--icons-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:focus .socials__icon, .socials__link:hover .socials__icon {
  fill: rgb(255, 255, 255);
}

.filter {
  margin-bottom: 60px;
}
@media screen and (min-width: 480px) {
  .filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 15px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}
.filter__item:not(:last-child) {
  margin-right: 8px;
}
.filter__btn {
  padding: 6px 22px;
  background-color: var(--secondary-background-color);
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__btn:hover, .filter__btn:focus {
  color: var(--main-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: var(--overlay-text);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal__close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 14px;
  right: 14px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-btn:hover .modal__close-icon {
  fill: var(--accent-color);
}

.modal__close-icon {
  fill: rgb(0, 0, 0);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form {
  padding: 40px;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--main-text-color);
  margin-bottom: 12px;
}

.modal__label {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.modal__input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  color: var(--secondary-text-color);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover, .modal__input:focus {
  border-color: var(--accent-color);
}

.modal__wrap {
  position: relative;
}
.modal__wrap:not(:last-child) {
  margin-bottom: 10px;
}

.modal__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus-within + .modal__icon, .modal__input:hover + .modal__icon {
  fill: var(--accent-color);
}

.modal__comment {
  resize: none;
  margin: 0;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__comment:hover, .modal__comment:focus {
  border-color: var(--accent-color);
}
.modal__comment::placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__policy-label {
  display: flex;
  align-items: baseline;
  justify-content: center;
  line-height: 1.71;
  color: var(--secondary-text-color);
}
.modal__policy-label span {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid #090b13;
  border-radius: 3px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__policy-checkbox:checked + .modal__policy-label span {
  background-color: var(--accent-color);
  border: none;
}

.modal__link {
  color: var(--accent-color);
  margin-left: 5px;
}

.modal__check-icon {
  fill: transparent;
  cursor: pointer;
}
.modal__policy-checkbox:checked + .modal__policy-label .modal__check-icon {
  fill: #ffffff;
}

.modal__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover, .modal__button:focus {
  background-color: #188CE8;
}

.header {
  border-bottom: 1px solid #ECECEC;
}
.header .container {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: 93px;
  color: var(--main-text-color);
}
.header__logo-accent {
  color: var(--accent-color);
}

.nav {
  display: flex;
  align-items: center;
}
.nav__list {
  display: flex;
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav__link {
  position: relative;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  color: var(--main-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}
.nav__link--current {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
  padding: 0;
}
.contacts__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts__item:not(:last-child) {
  margin-right: 30px;
}
.contacts__link {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}
.contacts__icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  padding: 118px 0;
  height: 400px;
  max-width: 767px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--footer-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/фон_героя.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__title {
  max-width: 360px;
  margin: 0 auto 30px auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-color);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
  }
}
.hero__btn {
  padding: 10px 32px;
  display: inline-block;
  color: var(--main-color);
  background-color: var(--accent-color);
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
}

.features {
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
  }
}
.features__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.features__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  height: 120px;
  margin-bottom: 30px;
  background: #F5F4FA;
  border-radius: 4px;
}
.features__svg {
  display: block;
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.features__list-title {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features__list-title {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .features__list-title {
    text-align: start;
  }
}
.features__list-subtitle {
  color: var(--secondary-text-color);
  line-height: 1.71;
}

.occupation {
  padding-top: 94px;
  padding-bottom: 94px;
}
.occupation__list {
  display: flex;
}
.occupation__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.occupation__pic {
  position: relative;
}
.occupation__pic:not(:first-child) {
  margin-left: 30px;
}
.occupation__subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  bottom: 0;
  position: absolute;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  padding: 60px 0;
  background-color: var(--secondary-background-color);
}
.team__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.27;
  }
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.card-list__item {
  background: var(--main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .card-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .card-list__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.card-list__wrap {
  padding: 30px 0px;
}
.card-list__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.card-list__subtitle {
  margin-bottom: 16px;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.clients {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0;
  }
}
.clients__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.clients__item {
  width: 100%;
  flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}
.clients__link {
  height: 92px;
  color: var(--icons-color);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 210px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.clients__svg {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-color);
}

.footer__wrap {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  margin-bottom: 20px;
  color: var(--main-color);
}

.footer__logo-accent {
  color: var(--accent-color);
}

.footer__list {
  margin-right: 70px;
}

.footer__adress {
  display: inline-block;
  margin-bottom: 9px;
  color: var(--main-color);
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__adress:hover, .footer__adress:focus {
  color: var(--accent-color);
}

.footer__mail-link {
  display: inline-block;
  margin-bottom: 9px;
  color: var(--links-color);
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__mail-link:hover, .footer__mail-link:focus {
  color: var(--accent-color);
}

.footer__phone-link {
  display: inline-block;
  color: var(--links-color);
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__phone-link:hover, .footer__phone-link:focus {
  color: var(--accent-color);
}

.footer__links-title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  font-size: inherit;
  color: var(--main-color);
}

.socials__link--white {
  fill: var(--main-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__subscription {
  margin-left: auto;
}

.footer__subscription-title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-color);
}

.footer__form {
  display: flex;
}

.footer__form-input {
  background-color: transparent;
  width: 348px;
  height: 50px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__form-input:hover, .footer__form-input:focus {
  border-color: var(--accent-color);
}
.footer__form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.footer__form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-left: 10px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__form-button:hover, .footer__form-button:focus {
  background-color: #188CE8;
}

.footer__form-icon {
  fill: currentColor;
  margin-left: 10px;
}

.portfolio {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding: 94px 0;
  }
}
.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
.portfolio__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__thumb {
  position: relative;
  overflow: hidden;
}
.portfolio__thumb-title {
  position: absolute;
  transform: translateY(100%);
  display: inline-block;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--overlay-text);
  background-color: var(--overlay-background);
  width: 100%;
  height: 100%;
  top: 0;
  transition-property: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover .portfolio__thumb-title {
  transform: translateY(0);
}
.portfolio__link:focus .portfolio__thumb-title {
  transform: translateY(0);
}
.portfolio__wrap {
  background: #FFFFFF;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  padding: 20px 24px;
}
.portfolio__list-title {
  margin-bottom: 4px;
  color: var(--main-text-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio__list-subtitle {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-size: 16px;
  line-height: 1.87;
}/*# sourceMappingURL=main.css.map */