.clients {
    padding-top: 94px;
    padding-bottom: 94px;

    &__title {
        margin-bottom: 50px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
    }
    
    &__list {
        display: flex;
        justify-content: center;
    }
    
    &__item:not(:last-child) {
        margin-right: 30px;
    }
    
    &__link {
        height: 92px;
        color: var(--icons-color);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 170px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
    
        transition-property: color, border-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            color: var(--accent-color);
            border-color: var(--accent-color);
        }
    }
    
    &__svg {
        fill: currentColor;
    }
}
