.header {
    border-bottom: 1px solid #ECECEC;
   

    > .container {
        display: flex;
        align-items: center;
    }

    &__logo {
        @include mobile {
        padding: 16px 0 ;
        }
        @include tablet {
            margin-right: 88px;
        }
        @include desktop {
        margin-right: 93px;
        }
        color: var(--main-text-color);
    }
    
    &__logo-accent {
        color: var(--accent-color);
    }
}

.nav {
    position: relative;
    display: flex;
    align-items: center;

    &__list {
        display: none;
        @include tablet {
        display: flex;
        }
    }
    
    &__item:not(:last-child) {
        margin-right: 50px;
    }
    
    &__link {
        position: relative;
        display: block;
        @include tablet {
        padding-top: 30px;
        padding-bottom: 30px;
        }
        color: var(--main-text-color);
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
    
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }
    &__link--current {
        color: var(--accent-color);
    }
}

.contacts {
    display: none;
    @include tablet {
        display: block;
        margin-left: auto;
        align-items: center;
    }
    @include desktop {
    display: flex;
    }
    margin-left: auto;
    align-items: center;
    padding: 0;

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
    
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
    
    &__link {
        @media screen and (min-width:738px) and (max-width:1200px) {
            text-align: right;
            font-size: 12px;
            line-height: 1.17;
        }
        @include desktop {
        padding-top: 30px;
        padding-bottom: 30px;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--secondary-text-color);
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
    
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }
    
    &__icon {
        width: 16px;
        height: 16px;
        margin-right: 10px;
        fill: currentColor;
    }
}
.menu-open-btn,
.menu-close-btn{
    display: block;
    margin-left: auto;
    background-color: transparent;
}
.menu-open-btn:hover .menu-open-svg,
.menu-close-btn:hover .menu-close-svg {
    fill: var(--accent-color);
}
.menu-open-btn {
    @include tablet {
        display: none;
    }
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    border: none;
    cursor: pointer;
}
.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    width: 100vw;
    height: 100vh;
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 48px;
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        overflow-y: auto;
    }

}
.mob-menu__nav {
    margin-bottom: 80px;
}

.mob-menu__nav-item:not(:last-child) {
    margin-bottom: 32px;
}

.mob-menu__nav-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.link__active {
    color: var(--accent-color);
}

.mob-menu__contacts {
    margin-bottom: 64px;
}

.mob-menu__contacts-item:not(:last-child) {
    margin-bottom: 32px;
}
.mob-menu__phone-link {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--accent-color);

}
.mob-menu__mail-link {

    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color:var(--secondary-text-color);
}



.mob_menu__socials {
    display: flex;

}

.mob-menu__socials-item:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2)
}

.mob-menu__socials-link {
    color: var(--accent-color);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
