.occupation {
    padding-top: 94px;
    padding-bottom: 94px;

    &__list {
        display: flex;
    }
    
    &__title {
        margin-bottom: 50px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
    }
    
    &__pic {
        position: relative;
    
        &:not(:first-child) {
            margin-left: 30px;
        }
    
    }
    
    &__subtitle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70px;
        bottom: 0;
        position: absolute;
        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--main-color);
        background-color: rgba(47, 48, 58, 0.8);
    }
}
