.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--secondary-background-color);

    &__title {
        margin-bottom: 50px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.27;
        text-align: center;
    }
}

.card-list {
    display: flex;

    &__item {
        background: var(--main-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    
        &:not(:first-child) {
            margin-left: 30px;
        }
    }
    
    &__wrap {
        padding: 30px 0px;
    }
    
    &__title {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
    }
    
    &__subtitle {
        margin-bottom: 16px;
        color: var(--secondary-text-color);
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
    }
}


