.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    height: 581px;
    background-color: var(--overlay-text);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(0.9);
    }
}

.modal__close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 14px;
    right: 14px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover .modal__close-icon {
        fill: var(--accent-color);
    }
}

.modal__close-icon {
    fill: rgba(0, 0, 0, 1);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form {
    padding: 40px;
}

.modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--main-text-color);
    margin-bottom: 12px;
}

.modal__label {
    display: block;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
    margin-bottom: 4px;
}

.modal__input {
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 12px 12px 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    color: var(--secondary-text-color);
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }
}

.modal__wrap {
    position: relative;
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.modal__icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    .modal__input:focus-within+&,
    .modal__input:hover+& {
        fill: var(--accent-color);
    }
}
.modal__comment {
    resize: none;
    margin: 0;
    margin-top: 4px;
    margin-bottom: 20px;
    padding: 12px 16px;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }

    &::placeholder {
        line-height: 1.14;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}

.modal__policy-label {
    display: flex;
    align-items: baseline;
    justify-content: center;
    line-height: 1.71;
    color: var(--secondary-text-color);
    span {
        margin-right: 7px;
        width: 16px;
        height: 15px;
        border: 2px solid #090b13;
        border-radius: 3px;
        margin-right: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        .modal__policy-checkbox:checked+& {
            background-color: var(--accent-color);
            border: none;
        }
    }
}

.modal__link {
    color: var(--accent-color);
    margin-left: 5px;
}


.modal__check-icon {
    fill: transparent;
    cursor: pointer;

    .modal__policy-checkbox:checked+.modal__policy-label & {
        fill: #ffffff;
    }
}

.modal__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: var(--main-color);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #188CE8;
    }
}