:root {
    --main-text-color: #212121;
    --secondary-text-color: #757575;
    --main-color: #FFFFFF;
    --main-background-color: #E5E5E5;
    --secondary-background-color: #F5F4FA;
    --accent-color: #2196F3;
    --links-color: rgba(255, 255, 255, 0.6);
    --footer-color: #2F303A;
    --icons-color: rgba(175, 177, 184, 1);
    --overlay-background: rgba(33, 150, 243, 0.9);
    --overlay-text: rgba(255, 255, 255, 1);
}